@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  box-sizing: border-box;
}
H2{
  color: #163A63;
}
.background{
  width: 100%;
  /* height: 400px; */
  background-color: #B2CCD6;
  padding: 30px;
}
.table-container{
  width: 100%;
  max-width: 700px;
  /* background-color: #fff; */
  border-radius: 10px;
  margin: auto;
}
table{
  /* color: #08506d; */
  border-radius: 10px;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-collapse : collapse;
  border-spacing : 0;
}
th{
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 0.7em;
}
td, th{
  padding: 10px;
  color: #B2CCD6;
  border-bottom: 1px solid #B2CCD6;
}
.table-footer p
{
  color: #163A63;
  float: left;
}
a{
  /* text-decoration: none; */
}
a:link{
  color: #2884EA;
}
a:visited{
  color: #163A63;
}
a:active{
  color: #2884EA;
}
.table-footer button{
  float: right;
  background-color: #133761;
  padding: 20px;
  color: #fff;
  border-style: none;
  border-radius: 10px;

  cursor: pointer;
}
.table-footer button:active{
  background-color: #08192C;
}
.digit{
  text-align: right;
}
.total{
  color: #163A63;
}
.item{
  text-align: left;
}
.table-container>table th:nth-child(2){
  width: 700px;
}