.container{
  margin-bottom: 50px;
}

.mylist li{
  list-style: none;
  border: solid 0.5px lightgray;
  padding: 10px;
  width: 500px;
  box-sizing: border-box;
  margin: 0px;
  box-sizing: border-box;
}

.active:hover{
  background-color: dodgerblue;
  color: white;
}

@mixin alert_color($boder, $back, $char) {
  border-color: $boder;
  background : $back;
  color: $char;
}

.alert{
  width: 90%;
  padding : 5px;
  padding-left: 20px;
  border-radius: 5px;
  margin: 10px;
  border: solid 1px;
}

.green{
  @include alert_color(lightgray, rgb(225,241,217), rgb(111,138,103))
}
.blue{
  @include alert_color(lightgray, rgb(220,237,247), rgb(88,126,147))
}
.yellow{
  @include alert_color(lightgray, #FDF8E4, #8b8064)
}

.row{
  clear: both;
  float: none;
}

@mixin column ($size){
  float:left;
  width: $size / 12 * 100%;
  border: solid 1px gray;
  box-sizing: border-box;
}

.row .col-6{
  @include column(6);
}

.row .col-4{
  @include column(4);
}

.row .col-3{
  @include column(3);
}
