*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-container{
  width: 100%;
  /* height: 60px; */
  background-color: #917461;
  display: flex;
  color: #fff;
  padding: 20px;
  align-items: center;
}
.menu-logo{
  font-size: 2em;
}
.menu-link{
  margin: 10px;
  font-size: 1.3em;
}
.main-background{
  width: 100%;
  height: 400px;
  background-image: url("./shoes.jpg");
  background-size: cover;
  background-position: center;
  background-attachment : fixed;
  color: #fff;
  padding: 1px;
  text-align: center;
}
.main-title{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.main-background p{
  font-size: 20px;
  padding: 20px;
}
.buy-button{
  width: 130px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  font-size: 18px;
  z-index: 5;
}
.message-box{
  width: 80%;
  background-color: #eee;
  padding: 40px;
  text-align: center;
  margin: auto;
  position: relative;
  top: -60px;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
}
.message-box h3{
  padding: 20px;
}
input, textarea{
  box-sizing: border-box;
}
.input-background{
  width: 100%;
  height: 600px;
  background-color: #555;
  /* margin:auto; */
  padding-top: 1px;
  position: relative;
  /* top: -100px; */
}
.input-container{
  width: 400px;
  /* height: 420px; */
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.input-container input[type=text],
.input-container input[type=email]{
  /* height: 30px; */
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
}

.input-container textarea{
  width: 100%;
  padding: 10px;
}
.input-box{
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-fname{
  float: left;
  width: 48%;
}
.input-lname{
  float: right;
  width: 48%;
}
.send-button{
  background-color: orange;
  color: white;
  border-style: none;
  border-radius: 5px;
  width: 100px;
  box-sizing: border-box;
  height: 30px;
  display: block;
  margin-left: auto;
}
.shop-container{
  width: 500px;
  display: flex;
  margin: auto;
  /* overflow: hidden; */
  justify-content: space-between;
  position: relative;
  background-color: #eee;
}
.shop-item{
  position: relative;
  margin: 10px;
  width: 33%;
  overflow: hidden;
}
.shop-item img{
  width: 100%;
  display: block;
}
.shop-hidden-msg{
  width: 100%;
  /* height: 100px; */
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  /* opacity: 0.3; */
  color: #fff;
  padding: 20px;
  transition: all 0.5s;
}
.shop-hidden-msg p{
  opacity: 1;
}
.shop-item:hover .shop-hidden-msg{
  position: absolute;
  top: 50%;
}