body {
    margin: 0;
    padding: 0;
}

.land-main{
    margin: 0;
    padding: 0;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 60px;
    background: linear-gradient(rgb(73, 151, 220), rgb(78, 97, 192));
}

.land-title{
    color:white;
}

.land-container{
    display: flex;
}

.land-message{
    color: white;
}

.btn-show{
    background-color: rgb(63, 68, 68);
    color:white;
    border:none;
    padding:15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.btn-show:hover{
    background-color: rgb(63, 68, 68);
    color:black;
}

.img-iphone{
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    width: 300px;
    align-self: right;
}

.land-blank{
    flex-grow: 1;
}

.show-portfolio{
    text-align: center;
    margin: 60px;
}

.offer{
    background-color: rgb(78,97,192);
    color:white;
    text-align: center;
    padding: 30px;
}

.s-title{
    font-size: 11px;
}

.offer-icon-container{
    display: flex;
    justify-content: center;
}

.offer-icon-item{
    margin: 20px;
}

.offer-icon-item i{
    background-color: white;
    color: rgb(78,97,192);
    width: 100px;
    height:100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
}

.portfolio{
    width: 1000px;
    text-align: center;
    padding-top: 30px;
}

.portfolio-box{
    /* display: inline-block; */
    /* display: flex; */
    text-align: left;
    color: white;
    margin: auto;
}

.portfolio-bgimg{
    width: 50%;
    height:300px;
    background-size: cover;
    float:left;
    /* padding: 30px; */
}

.white-box{
    border: solid white 0px;
    box-sizing: border-box;
    transition: all 1s;
}

.white-box:hover{
    border: solid white 10px;
    box-sizing: border-box;
}

/* .portfolio-bgimg:hover{
    border: solid white 10px;
    box-sizing: border-box;
} */

.portfolio-lt{
    background-image: url("../img/portfolio-1.jpg");
}
.portfolio-rt{
    background-image: url("../img/portfolio-2.jpg");
}
.portfolio-lb{
    background-image: url("../img/portfolio-3.jpg");
}
.portfolio-rb{
    background-image: url("../img/portfolio-4.jpg");
}

.portfolio-clear{
    clear : both;
}

.footer{
    padding: 50px;
    text-align: center;
}

.footer-icon{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-icon i{
    background-color: rgb(78,97,192);
    color: white;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    padding-top: 22px;
    box-sizing: border-box;
    margin-left: 25px;
    margin-right: 25px;
}

@media screen and (max-width : 1200px) {
    .portfolio-box{
        width: 100%;
    }
    .portfolio-container{
        flex-direction: column;
        text-align: center;
    }

    .portfolio-bgimg{
        width: 100%;
        display: inline-block;
    }
}

@media screen and (max-width : 768px) {
    .land-main{
        text-align: center;
    }
    .land-container{
        flex-direction: column;
    }
    .img-iphone{
        align-self: center;
    }
}